views/download/books/notw.jade
extends layout

block content
        .col-xs-12
            nav.navbar-default
                .container-fluid
                    .navbar-header
                        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') CyberArms
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li.nav-item.active.navz
                                a.navz(href="/") Home
                            li.nav-item.dropdown.navz
                                a.dropdown-toggle.navz.nav-link(href="/", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                                        | Download 
                                        span.caret
                                    ul.dropdown-menu
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/software") Software
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/movies") Movies
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/tv") TV
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/games") Games
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/music") Music
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/books") Books
                            li.nav-item.navz
                                a.navz.nav-link(href="/upload") Upload
                            li.nav-item.navz
                                a.navz.nav-link(href="/about") About
                            li.nav-item.navz
                                a.navz.nav-link(href="/contact") Contact
        .container-fluid.text-xs-center
            hr
            hr
            hr
            hr
            hr
            .jumbotron
                .page-header
                    h1.stuff16 The Name of the Wind
                    hr
                    h2.stuff24 My name is Kvothe, pronounced nearly the same as "quothe." Names are important as they tell you a great deal about a person. I've had more names than anyone has a right to. The Adem call me Maedre. Which, depending on how it's spoken, can mean The Flame, The Thunder, or The Broken Tree. "The Flame" is obvious if you've ever seen me. I have red hair, bright. If I had been born a couple of hundred years ago I would probably have been burned as a demon. I keep it short but it's unruly. When left to its own devices, it sticks up and makes me look as if I have been set afire. "The Thunder" I attribute to a strong baritone and a great deal of stage training at an early age. I've never thought of "The Broken Tree" as very significant. Although in retrospect, I suppose it could be considered at least partially prophetic. My first mentor called me E'lir because I was clever and I knew it. My first real lover called me Dulator because she liked the sound of it. I have been called Shadicar, Lightfinger, and Six-String. I have been called Kvothe the Bloodless, Kvothe the Arcane, and Kvothe Kingkiller. I have earned those names. Bought and paid for them. But I was brought up as Kvothe. My father once told me it meant "to know." I have, of course, been called many other things. Most of them uncouth, although very few were unearned. I have stolen princesses back from sleeping barrow kings. I burned down the town of Trebon. I have spent the night with Felurian and left with both my sanity and my life. I was expelled from the University at a younger age than most people are allowed in. I tread paths by moonlight that others fear to speak of during day. I have talked to Gods, loved women, and written songs that make the minstrels weep. You may have heard of me. So begins the tale of Kvothefrom his childhood in a troupe of traveling players, to years spent as a near-feral orphan in a crime-riddled city, to his daringly brazen yet successful bid to enter a difficult and dangerous school of magic. In these pages you will come to know Kvothe as a notorious magician, an accomplished thief, a masterful musician, and an infamous assassin. But The Name of the Wind is so much morefor the story it tells reveals the truth behind Kvothe's legend.
                    hr
                    h3.stuff24 #[a(href="http://amzn.to/2inUABd", style="text-decoration:underline") 'http://amzn.to/2inUABd']
                    hr
                    h3.stuff24 Written by Patrick Rothfuss
                    hr
                    h3.stuff24 Format(s): pdf
                    hr
                    hr
                    hr
                    h3.stuff24 Download&nbsp (&nbsp#[a(href="http://ouo.io/thvOxk", style="text-decoration:underline") Mirror 1]&nbsp, &nbsp&nbsp#[a(href="http://ouo.io/EkMCIi", style="text-decoration:underline") Mirror 2]&nbsp)

views/download/books/notw.html
<!DOCTYPE html><html><head></head><title></title><link rel="stylesheet" href="/stylesheets/fontello.css"><link rel="stylesheet" href="/stylesheets/proxima_nova_semibold.css"><link rel="stylesheet" href="/stylesheets/proxima_nova_extrabold.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="/stylesheets/main.css" type="text/css"><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script><meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"><meta charset="utf-8"><meta name="description" content="A good archive of &quot;bad&quot; data"><meta name="author" content="Caesar"><div class="body"></div><section id="wrapper"><div class="col-xs-12"><nav class="navbar-default"><div class="container-fluid"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">CyberArms</a></div><div id="navbar" class="navbar-collapse collapse"><ul class="nav navbar-nav navbar-right"><li class="nav-item active navz"><a href="/" class="navz">Home</a></li><li class="nav-item dropdown navz"><a href="/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle navz nav-link">Download <span class="caret"></span></a><ul class="dropdown-menu"><li class="nav-item navz stuff14"><a href="/download/software" class="navz stuff14 nav-link">Software</a></li><li class="nav-item navz stuff14"><a href="/download/movies" class="navz stuff14 nav-link">Movies</a></li><li class="nav-item navz stuff14"><a href="/download/tv" class="navz stuff14 nav-link">TV</a></li><li class="nav-item navz stuff14"><a href="/download/games" class="navz stuff14 nav-link">Games</a></li><li class="nav-item navz stuff14"><a href="/download/music" class="navz stuff14 nav-link">Music</a></li><li class="nav-item navz stuff14"><a href="/download/books" class="navz stuff14 nav-link">Books</a></li></ul></li><li class="nav-item navz"><a href="/upload" class="navz nav-link">Upload</a></li><li class="nav-item navz"><a href="/about" class="navz nav-link">About</a></li><li class="nav-item navz"><a href="/contact" class="navz nav-link">Contact</a></li></ul></div></div></nav></div><div class="container-fluid text-xs-center"><hr><hr><hr><hr><hr><div class="jumbotron"><div class="page-header"><h1 class="stuff16">The Name of the Wind</h1><hr><h2 class="stuff24">My name is Kvothe, pronounced nearly the same as "quothe." Names are important as they tell you a great deal about a person. I've had more names than anyone has a right to. The Adem call me Maedre. Which, depending on how it's spoken, can mean The Flame, The Thunder, or The Broken Tree. "The Flame" is obvious if you've ever seen me. I have red hair, bright. If I had been born a couple of hundred years ago I would probably have been burned as a demon. I keep it short but it's unruly. When left to its own devices, it sticks up and makes me look as if I have been set afire. "The Thunder" I attribute to a strong baritone and a great deal of stage training at an early age. I've never thought of "The Broken Tree" as very significant. Although in retrospect, I suppose it could be considered at least partially prophetic. My first mentor called me E'lir because I was clever and I knew it. My first real lover called me Dulator because she liked the sound of it. I have been called Shadicar, Lightfinger, and Six-String. I have been called Kvothe the Bloodless, Kvothe the Arcane, and Kvothe Kingkiller. I have earned those names. Bought and paid for them. But I was brought up as Kvothe. My father once told me it meant "to know." I have, of course, been called many other things. Most of them uncouth, although very few were unearned. I have stolen princesses back from sleeping barrow kings. I burned down the town of Trebon. I have spent the night with Felurian and left with both my sanity and my life. I was expelled from the University at a younger age than most people are allowed in. I tread paths by moonlight that others fear to speak of during day. I have talked to Gods, loved women, and written songs that make the minstrels weep. You may have heard of me. So begins the tale of Kvothefrom his childhood in a troupe of traveling players, to years spent as a near-feral orphan in a crime-riddled city, to his daringly brazen yet successful bid to enter a difficult and dangerous school of magic. In these pages you will come to know Kvothe as a notorious magician, an accomplished thief, a masterful musician, and an infamous assassin. But The Name of the Wind is so much morefor the story it tells reveals the truth behind Kvothe's legend.</h2><hr><h3 class="stuff24"><a href="http://amzn.to/2inUABd" style="text-decoration:underline">'http://amzn.to/2inUABd'</a></h3><hr><h3 class="stuff24">Written by Patrick Rothfuss</h3><hr><h3 class="stuff24">Format(s): pdf</h3><hr><hr><hr><h3 class="stuff24">Download&nbsp (&nbsp<a href="http://ouo.io/thvOxk" style="text-decoration:underline">Mirror 1</a>&nbsp, &nbsp&nbsp<a href="http://ouo.io/EkMCIi" style="text-decoration:underline">Mirror 2</a>&nbsp)</h3></div></div></div></section><footer><div class="container"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><hr></div><p id="foot1" class="copyright text-muted label label-default">Copyright © 2017 The CyberArms Project<hr></p><p id="foot2" class="copyright text-muted label label-default">Powered by a whole lot of coffee.<hr></p><p id="footico" class="label label-default stuff8"><a href="https://github.com/TheArsenal/cyberarms.github.io"><i class="icon-github-circled foooot fa a span1"></i></a><a href="https://reddit.com/r/cyberarms/"><i class="icon-reddit foooot fa span1"></i></a><a href="#"><i class="icon-rss-squared foooot fa span1"></i></a><a href="mailto:stuff@cyberarms.gq"><i class="icon-mail-alt foooot fa span1"></i></a><a href="https://gitter.im/cyberarmsproject/Lobby"><i class="icon-gitter-square fooot fa span1"></i></a></p></div></footer><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-106750073-1"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-106750073-1');</script></html>
